 .li_containers{
  	width: 52%;
  	float: left;
  }
  .listitems { 
      width: 150px; 
      height: 150px; 
      padding: 0.5em; 
      float: left; 
      margin: 10px 10px 10px 0;
      border: 1px solid black;
      font-weight: normal;
   }

  #droppable { 
    width:   550px; 
    height:  550px; 
    padding: 0.5em; 
    float:   right; 
    margin:  10px;
    cursor:  pointer;
   }